@page "/"
@inject ServicioSingleton singleton
@inject IRepositorio repositorio

<p>Singleton count: @singleton.Valor</p>


<div>
    <h3>Lista de películas</h3>
    <ListadoPeliculas  Peliculas="Peliculas" />    
</div>

<button @onclick="AgregarPelicula">Agregar película</button>

@code{
    string nombre = "Endersson Alonso Mendoza Muñoz";
    private List<Pelicula> Peliculas;
   

    protected override void OnInitialized()
    {
     
        Peliculas = repositorio.ObtenerPeliculas();
    }

    void AgregarPelicula()
    {
        Peliculas.Add(new Pelicula() { Titulo = "Nueva película", Lanzamiento = DateTime.Today });
    }

    public Pelicula SpiderMan { get { return ObtenerPelicula(); } }

    private Pelicula ObtenerPelicula()
    {
        return new Pelicula()
        {
            Titulo = "Spiderman far from Home",
            Lanzamiento = new DateTime(2019, 7, 2)
        };
    }

    // Lista

    private void ManejarClick()
    {
        Console.WriteLine("Me  han clickeado desde método");
    }


}
